/* ===================== FILE INPUT ===================== */
.file-area {
  width: 100%;
  position: relative;

  input[type="file"] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
  }

  .file-dummy {
    width: 100%;
    padding: 30px;
    background: rgba(255, 255, 255, 0.2);
    border: 2px dashed #521656ff;
    text-align: center;
    transition: background 0.3s ease-in-out;

    .success {
      display: none;
    }
  }



}




